    .cjart-bus .bus .bus-header{
        background: #fff;
        text-align: center;
        line-height: 42px;
        text-indent: 20%;
        font-size: 18px;
    }
    .cjart-bus .bus .bus-header .bus-myOrder{
        display: inline-block;
        width: 25%;
        float: right;
        color: #4aa4fa;
        text-indent: 0px;
        font-size: 14px;
    }
    .cjart-bus .bus .bus-center  .busct-place{
        width:98%;
        margin:0 auto;
        margin-top:12px;
        background: #fff;
    }
    .cjart-bus .bus .bus-center  .busct-depeture .busct-circle{
        width: 10%;
        display: inline-block;
        text-align: center;
    }   
    .cjart-bus .bus .bus-center  .busct-depeture .busct-circletop{
        color: #7dd6ca;
    }
    .cjart-bus .bus .bus-center  .busct-depeture .busct-circlebottom{
        color: #d8496e;
    }
    .cjart-bus .bus .bus-center  .busct-depeture .busct-name{
        width: 86%;
        display: inline-block;
    }

    .cjart-bus .bus .bus-center  .busct-depeture{
        height: 45px;
        line-height: 45px;
    }
    /* 包车方式 */
    .bus .carcetbus{
        width: 98%;
        background: #fff;
        margin: 0 auto;
        line-height: 46px;
    }
    .bus .carcetbus .carcetbus-tips{
        display: inline-block;
        width: 20%;
        text-align: center;
    }
    .bus .carcetbus .carcetbus-div{
        display: inline-block;
        width: 76%;
        height: 100%;
    }
    .bus .carcetbus .carcetbus-icons{
        width: 53px;
        height: 30px;
        display: inline-block;
        line-height: 30px;
        text-align: center;
        border-radius: 4px;
        color: #383636;
        border: 1px solid #f2f2f2;
    }
    .bus .carcetbus  .carcetbus-iconsright{
        background: #fff;
    }
    .bus .carcetbus .carcetbus-iconsleft{
        background: #007aff;
        color:#fff;
    }
    .bus-div{
        width: 98%;
        background: #fff;
        margin: 0 auto;
        line-height: 46px;
    }
    /* 时间设置 */
    .bus .time{
        margin-top:4px;
    }
    .bus .time .time-icons{
        width: 10%;
        display: inline-block;
        text-align: center;
    }
    .bus .time .time-center{
        width: 86%;
        display: inline-block;
    }
    /* 联系人设置 */
    .bus  .tell-person  .tell-icons {
        width: 10%;
        display: inline-block;
        text-align: center;
    }
    .bus  .tell-person  .tell-input{
        width: 86%;
        display: inline-block;
    }
    /* 去选车 */
    .bus #selectionCar{
        width:80%;
        background: #007aff;
        color: #fff;
        display: block;
        text-align: center;
        margin:0 auto;
        height:45px;
        line-height: 45px;
        font-size: 16px;
        border-radius: 3px;
        margin-top: 20px;
    }
    /* 提示信息 */
    .bus .tell-mytrips .tell-flex{
        display: flex;
        text-align: center;
        margin: 20px;
        color: #999;
    }
    .bus .tell-mytrips .tell-flexdiv{
        flex: 1;
    }
    .bus .tell-mytrips .tell-haoma{
        margin:30px 0px;
        text-align: center;
    }
    .bus .tell-mytrips .tell-haoma .tell-haomaright{
        color: #2290f9
    }
/* 选车页面的设置 */
    /* 头部设置 */
    .selectcar .selectcar-hd{
        background: #fff;
        text-align: center;
        line-height: 42px;
        font-size: 18px;
    }
    .selectcar .selectcar-hd .selectcar-hdicon{
        display: inline-block;
        width: 20%;
        color: #257ddc;
        font-size: 18px;
        font-weight: bolder;
    }
    .selectcar .selectcar-hd .selectcar-hddiv .selectcar-hdxian{
        display: inline-block;
        width: 11px;
        border: 1px solid #666;
        margin-bottom: 5px;
    }
    .selectcar .selectcar-hd  .selectcar-hddiv {
        display: inline-block;
        width: 76%;
        text-indent: -7%;
    }
    /* 行程设置 */
    .selectcar-time{
        margin: 10px auto;
    }
    .selectcar-time .selectcar-tis{
        margin: 10px;
        font-size: 16px;
        color: #3490f3;
        margin-left: 14px;
    }
    .selectcar-time .selectcar-timeleft{
        position: relative;
    }
    .selectcar-time .selectcar-timeleft .selectcar-tcity{
        display: inline-block;
        width: 25%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
    }
    .selectcar-time .selectcar-timeleft .selectcar-ticon{
        position: absolute;
        top: 18px;
        left: 17px;
        font-size: 8px;
    }
    .selectcar-time .selectcar-timeleft .selectcar-tdate{
        display: inline-block;
        width: 53%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        float: left;
    }
    .selectcar  .selectcar-time .selectcar-tspan{
        display: inline-block;
        width: 26px;
        height: 14px;
        font-size: 10px;
        text-align: center;
        color: #fff;
        line-height: 14px;
        border-radius: 1px;
        margin: 4px 10px;
        float: left;
    }   
    /* 注意事项 */
    .selectcar-be{
        margin-top: 10px;
        margin-bottom:80px;
        background: #fff;
    }
    .selectcar-be  .selectcar-behd {
        padding: 18px 24px 14px 12px;
    }
    .selectcar-be .selectcar-behdleft{ 
        width: 20%;
        color: #242323;
        display: inline-block;
        text-align: left;
        float: left;
    }
    .selectcar-be .selectcar-behdright{
        display: inline-block;
        width: 78%;
        float: right;
        font-size: 12px;
    }
    /* 注意事项 跳转设置 */
    .selectcar-be .selectcar-bect{
        height: 46px;
        line-height: 46px;
        border-top: 1px solid #f2f2f2;
    }
    .selectcar-be .selectcar-bect .selectcar-bectleft{
        display: inline-block;
        margin-left: 12px;
        color: #302f2f;
    }
    .selectcar-be .selectcar-bect .selectcar-bectleftright{
        display: inline-block;
        float: right;
        margin-right: 24px;
        color: #aa9f9f;
    }
    /* 提交订单 */
    .selectcar-submit{
        position: fixed;
        bottom: 0px;
        left: 0px;
        background: #fff;
        height: 50px;
        line-height: 50px;
        width: 100%;
        z-index: 999;
        border-top: 1px solid #f2f2f2;
    }
    .selectcar-submit .selectcar-submitleft{
        display: inline-block;
        margin-left: 12px;
        color: #322f2f;
        font-size: 15px;
    }
    .selectcar-submit .selectcar-submitright{
        width: 30%;
        background: #f4334a;
        display: inline-block;
        float: right;
        text-align: center;
        font-size: 17px;
        color: #fff;
    }
    /* 车主选择的设置 */
    .selectcar    .selectcar-cardiv{
        width: 100%;
        overflow: hidden;
        height: 107px;
        overflow-x: auto;
        background: #fff;
    }
    .selectcar .selectcar-car{
        width: 320%;
        height: 100%;
    }
    .selectcar .selectcar-car .selectcar-carimg{
        width: 12%;
        display: inline-block;
        float: left;
        height: 96px;
        border:1px solid #7e7d7d;
        margin-left: 0.25%;
        margin-top: 5px;
    }
    .selectcar .selectcar-car .selectcar-carimg span{
        display: block;

        font-size: 18px;
        
        width: 96%;
        
        text-align: right;
        
        line-height: 26px;
    }
    .selectcar .selectcar-car .selectcar-carimg img{
        width: 80%;

        height: 40px;
        
        margin: 0 auto;
        
        display: block;
    }
    .selectcar .selectcar-car .selectcar-carimg p{
        height: 30px;

        line-height: 30px;
        
        text-align: center;
    }
    /* 东西设置 */
    .selectcar .selectcar-goods{
        height: 52px;
        line-height: 52px;
        background: #fff;
        margin-top: 4px;
    }
    .selectcar .selectcar-goods .selectcar-goodsleft{
        width: 26%;

        display: inline-block;
        
        float: left;
        
        margin-left: 12px;
    }
    .selectcar .selectcar-goods .selectcar-goodsleft .selectcar-goodslficonone{
        font-size: 14px;
    }
    .selectcar .selectcar-goods .selectcar-goodsleft .selectcar-goodslftwo{
        font-size: 12px;

        color: #909090;
    }
    /* 给司机留言 */
    .selectcar  .selectcar-driver{
        background: #fff;

        margin-top: 12px;
    }
    .selectcar  .selectcar-driver .selectcar-drtext{
        line-height: 40px;
        
        margin-left: 12px;
        
        font-size: 15px;
        
        color: #383838;
        
        height: 40px;    
        
    }
    .selectcar  .selectcar-driver .selectcar-drtextarea{
        width: 100%;

        margin: 0;
        
        border: none;
        text-indent: 12px;
    }
    .selectcar  .selectcar-driver .selectcar-drxz{
        display: block;

        line-height: 26px;
        
        text-align: right;
        
        width: 96%;
        
        float: left;
    }
/* 信息提示页 */
    /* 头部设置 */
    .careful .careful-header{
        background: #fff;
        line-height: 42px;
        font-size: 18px;
    }
    .careful .careful-header .careful-hdicon{
        display: inline-block;
        float: left;
        width: 20%;
        text-align: center;
        color: #257ddc;
        font-weight: bolder;
    }
    .careful .careful-header .careful-hdspan{
        float: right;
        width: 80%;
        text-align: center;
        text-indent: -20%;
    }
    .careful .careful-center .careful-ctheader{
        height: 30px;
        line-height: 30px;
        background: #fff;
        display: block;
        font-size: 15px;
        color: #2d2a2a;
        text-indent: 12px;
    }
    .careful .careful-center .careful-ctcenter{
        background: #e7ecf0;
        padding: 10px 16px 10px 12px;
    }
    .careful .careful-center .careful-ctcenter p{
        font-size: 13px;
    }
/* 我的订单页 */
    .myorder .myorder-header{
        background: #fff;
        line-height: 42px;
        font-size: 18px;
    }
    .myorder .myorder-header .myorder-hdreturn{
        display: inline-block;
        width: 20%;      
        color: #257ddc;       
        font-size: 18px;       
        font-weight: bolder;     
        text-align: center;
        float: left;
    }
    .myorder .myorder-header .myorder-hdmyorder{
        float: left;
        width: 60%;
        text-align: center;
    }
    .myorder .myorder-header .myorder-hdselect{
        display: inline-block;
        width: 20%; 
        text-align: center;
        color: #64b0f2;
        float: left;
        font-size: 16px;
    }
    /* 我的订单的样式设置 */
    .myorder #idmyorder .tjorder{
        background: #fff;
        margin: 5px 2%;
        border-radius: 5px;
        padding: 6px 14px 12px 10px;
        font-size:12px;
    }
    .myorder #idmyorder .tjorder .tjorder-hd{
        height: 24px;
        line-height: 24px;
    }
    .myorder #idmyorder .tjorder .tjorder-hd .tjorder-hdleft{
        display: inline-block;
        float: left;
    }
    .myorder #idmyorder .tjorder .tjorder-hd .tjorder-hdleft .tjorder-hdlefticon{
        font-size: 14px;
        color: #56ded7;
        display: inline-block;
    }
    .myorder #idmyorder .tjorder .tjorder-hd .tjorder-hdleft  .tjorder-hdleftnr{
        display: inline-block;
        padding-left: 10px;
        font-size: 15px;
    }
    .myorder #idmyorder .tjorder .tjorder-hd  .tjorder-hdright{
        display: inline-block;
        float: right;
    }
    /* 中间设置 */
    .myorder #idmyorder .tjorder .tjorder-ct{
        height: 24px;
        line-height: 24px;
        color: #111010;
    }
    .myorder #idmyorder .tjorder .tjorder-ct .tjorder-ctleft{
        width: 42%;
        float: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-left: -34px;
    }
    .myorder #idmyorder .tjorder .tjorder-ct .tjorder-ctcenter{
        float: left;
        width: 6%;
        font-weight: bolder;
        font-size: 19px;
        text-align: center;
    }
    .myorder #idmyorder .tjorder .tjorder-ct .tjorder-ctright{
        width: 42%;
        float: left;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* 提交的时间设置 */
    .myorder .tjorder-date{
        line-height: 30px;
        height: 30px;
        font-size: 13px;
    }
    .myorder .tjorder-date .tjorder-dateleft {
        margin-left: 22px;
        display: inline-block;
        width: 60%;
        float:left;
    }   
    .myorder .tjorder-date .tjorder-dateleft .tjorder-dateleftts{
        width: 40%;
        display: inline-block;
        float: left;
    }
    .myorder .tjorder-date .tjorder-dateleft .tjorder-datelefttime{
        display: inline-block;
        width: 60%;
        float: left;
    }
    .myorder .tjorder-date .tjorder-dateright{
        display: inline-block;
        width: 32%;
        float: right;
        text-align: right;
        color: #090909;
    }
    .myorder .tjorder-date .tjorder-daterighticon{
        font-size: 14px;
    }
    .myorder .tjorder-date .tjorder-daterightmoney{
        width: 50%;
        display: inline-block;
        text-align: left;
    }
    .myorder .tjorder-button{
        border-top: 1px solid #f2f2f2;
    }
    .myorder .tjorder-button .tjorder-submitbutton{
        display: inline-block;
        width: 86px;
        height: 30px;
        border: 1px solid #f2f2f2;
        float: right;
        line-height: 30px;
        text-align: center;
        border-radius: 3px;
        margin-top: 4px;
        font-size: 13px;
        background: #f2f2f2;
        margin-left: 6px;
    }
/* 选择城市页 */
    #searchcity {
        width: 100%;
        height: 100%;
    }
    #searchcity .searchcity-hd{
        background: #fff;
        line-height: 42px;
        font-size: 18px;
    }
    #searchcity .searchcity-hd .searchcity-hdicon{
        display: inline-block;
        width: 20%;
        color: #257ddc;
        font-size: 18px;
        font-weight: bolder;
        text-align: center;
        float: left;
    }
    #searchcity .searchcity-hd .searchcity-hdcenter{
        display: inline-block;
        float: right;
        text-align: center;
        width: 80%;
        text-indent: -20%;
    }
    #searchcity .nowcity {
        width: 100%;
        height: 90px;
    }
    #searchcity .nowcity .dangq {
        height: 30px;
        width: 100%;
        text-indent: 10px;
        background: #e8edf2;
        line-height: 30px;
    }
    #searchcity .nowcity .nowcityval {
        width: 100%;
        height: 60px;
        background: #fff;
    }
    #searchcity .nowcity .nowcityval div {
        margin-left: 15px;
        width: 106px;
        height: 40px;
        background: #ff8700;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        color: #fff;
        box-shadow: 4px 4px 2px #c1c1c1;
        -webkit-box-shadow: 4px 4px 2px #c1c1c1;
        margin-top: 10px;
    }
    #searchcity .xzcity {
        width: 100%;
    }
    #searchcity .xzcity .quanbu {
        height: 30px;
        width: 100%;
        text-indent: 10px;
        background: #e8edf2;
        line-height: 30px;
    }
    #searchcity .xzcity .ulone,
    #searchcity .xzcity .ultwo,
    #searchcity .xzcity .ulthree {
        width: 100%;
        background: #fff;
        height: 60px;
        display: block;
        border-bottom: 1px solid #c1c1c1;
        margin-bottom: 20px;
    }
    #searchcity .xzcity .ulone li,
    #searchcity .xzcity .ultwo li,
    #searchcity .xzcity .ulthree li {
        margin-left: 5%;
        width: 25%;
        height: 40px;
        background: #fff;
        border-radius: 4px;
        text-align: center;
        line-height: 40px;
        border: 1px solid #c1c1c1;
        box-shadow: 4px 4px 2px #c1c1c1;
        -webkit-box-shadow: 4px 4px 2px #c1c1c1;
        margin-top: 10px;
        display: inline-block;
    }
    #searchcity .xzcity .ulone .ulliactive,
    #searchcity .xzcity .ultwo .ulliactive,
    #searchcity .xzcity .ulthree .ulliactive {
        color: #fff;
        background: #ff8700;
    }
/* 地图页 */
    .busMap{
        position: relative;
    }     
    .busMap #container{
        width:100%;
    }
    .busMap .busMap-header{
        line-height: 42px;
        height:42px;
        font-size: 18px;
        border-bottom: 1px solid #f2f2f2;
        background: #448aff;
        color: #fff;
    }
    .busMap .busMap-header .busMap-hdleft{
        display: inline-block;
        width: 20%;
        color: #fff;
        font-size: 18px;
        font-weight: bolder;
        text-align: center;
        float:left;
    }
    .busMap .busMap-header .busMap-hdright{
        float:right;
        width:80%;
        text-align: center;
        text-indent: -20%;
    }
    /* 搜索设置 */
    .busMap .busMap-city {
        position: absolute;
        top: 43px;
        left: 0px;
        width: 100%;
        background: #fff;
        border-top: 1px solid #f2f2f2;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        z-index: 999;
    }
    .busMap .busMap-city .busMap-cityleft{
        display: inline-block;
        width: 25%;
        float: left;
    }
    .busMap .busMap-city .busMap-cityleft .busMap-ctlfname{
        display: inline-block;
        width: 70%;
        text-align: right;
        float: left;
    } 
    .busMap .busMap-city .busMap-cityleft .busMap-ctlficon{
        float: left;
        font-size: 12px;
        width: 20%;
        display: inline-block;
        text-align: left;
    }
    .busMap .busMap-city .busMap-cityleft .busMap-ctlfxian{
        float:right;
        display: inline-block;
        border: 1px solid #bab4b4;
        width: 0px;
        height: 20px;
        margin-top: 10px;
    }
    .busMap .busMap-city .busMap-cityright{
        float: right;
        width: 70%;
        position: relative;
    }
    .busMap .busMap-city .busMap-cityright .busMap-ctrticon{
        position: absolute;
        left: 6px;
        font-size: 24px;
        color: #5a5a5a;
        margin-top: 1px;
    }   
    .busMap .busMap-city .busMap-cityright .busMap-ctrtinput{
        float: right;
        height: 19px;
        margin-top: 4px;
        text-indent: 14px;
    }
    .busMap .busMap-dz{
        position: absolute;
        bottom: 0px;
        width: 92%;
        background: #fff;
        z-index: 999;
        margin: 2%;
        border-radius: 4px;
        padding: 0px 2% 2% 2%;
    }
    .busMap .busMap-dz  .busMap-dzheader{
        height: 36px;
        line-height: 36px;
    }
    .busMap .busMap-dz  .busMap-dzheader .busMap-dzhdicon{
        font-size: 8px;
        color: #448aff;
        margin-left: 10px;
    }
    .busMap .busMap-dz  .busMap-dzheader .busMap-dzhdcity{
        margin-left: 10px;
    }
    .busMap .busMap-dz  .busMap-dzcity{
        display: block;
        margin-left: 32px;
        color: #448aff;
    }
    .busMap .busMap-dz  .busMap-dzbutton{
        height: 45px;
        line-height: 45px;
        font-size: 18px;
        background: #448aff;
        display: block;
        margin-bottom: 5px;
        margin-top: 6px;
        text-align: center;
        color: #fff;
        border-radius: 4px;
    }
/* 城市具体选择页 */
    /* 头部设置 */
    .address .address-header{
        line-height: 42px;
        height: 42px;
        font-size: 18px;
        border-bottom: 1px solid #f2f2f2;
        background: #448aff;
        color: #fff;
    }
    .address .address-header .address-hdleft{
        display: inline-block;
        width: 20%;
        color: #fff;
        font-size: 18px;
        font-weight: bolder;
        text-align: center;
        float: left;
    }
    .address .address-header .address-hdright{
        float: right;
        width: 80%;
        text-align: center;
        text-indent: -20%;
    }
    /* 中间设置 */
    .address .address-city{
        top: 43px;
        left: 0px;
        width: 100%;
        background: #fff;
        border-top: 1px solid #f2f2f2;
        height: 44px;
        line-height: 44px;
        font-size: 12px;
        z-index: 999;
    }
    .address .address-city .address-cityleft{
        display: inline-block;
        width: 25%;
        float: left;
    }
    .address .address-city .address-cityleft .address-ctlfname{
        display: inline-block;
        width: 70%;
        text-align: right;
        float: left;
    }
    .address .address-city .address-cityleft .address-ctlficon{
        float: left;
        font-size: 12px;
        width: 20%;
        display: inline-block;
        text-align: left;
    }
    .address .address-city .address-cityleft .address-ctlfxian{
        float: right;
        display: inline-block;
        border: 1px solid #bab4b4;
        width: 0px;
        height: 20px;
        margin-top: 10px;
    }
    .address .address-city  .address-cityright{
        float: right;
        width: 70%;
        position: relative;
    }
    .address .address-city  .address-cityright .address-ctrticon{
        position: absolute;
        left: 6px;
        font-size: 24px;
        color: #5a5a5a;
        margin-top: 1px;
    }
    .address .address-city  .address-cityright .address-ctrtinput{
        float: right;
        height: 19px;
        margin-top: 4px;
        text-indent: 14px;
    }
    /* 内容嵌套设置 */
    .address #add-address{
        margin: 0px 10px;
        margin-top: 0px;
        margin-top: 10px;
        background: #fff;
    }
    .address #add-address .addselect{
        border-bottom: 1px solid #f2f2f2;
        height: 62px;
    }
    .address #add-address  .addselect-left{
        float: left;
        width: 10%;
        height: 100%;
        line-height: 62px;
        text-align: center;
        font-size: 20px;
    }
    .address #add-address .addselect-right{
        float: right;
        display: inline-block;
        width: 90%;
        line-height: 31px;
        height: 31px;
        text-indent: 6px;
    }
    .address #add-address .addselect-right .addselect-rtone{
        display: block;
    }
    .address #add-address .addselect-right .addselect-rttwo{
        display: block;
        color: #999;
    }
/* 默认设置 */
    #selectcar-carone{
        border-color: rgb(0, 141, 255);
    }
    #selectcar-carone #selectcar-carspanone{
        color:rgb(0, 141, 255);
    }